//   DISPLAY FONT DECLARATION

@font-face {
    font-family: 'Gratelos';
    src: url('../fonts/Gratelos.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }

  @font-face {
    font-family: 'Aeroxys';
    src: url('../fonts/Aeroxys.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }


html{
    cursor: url('/img/pencil.svg') 6 50, auto;
}

a:hover, button:hover{
    cursor: url('/img/finger2.svg') 6 50, auto;
}
  

body{
    margin:0;
    font-family: Gratelos, serif;
}
#nav{
    position: absolute;
    a{
        text-decoration: none !important;
    }
}
.paolo-blue-bg{
    background-color: #0000FF;
}
.text-paolo-blue{
    color: #0000FF;
}
::selection {
    background: #150053;
}
  ::-moz-selection {
    background: #150053;
}
section{
    overflow-x: hidden;
}
a{
    text-decoration: underline !important;
}
.text-white{
    color: rgba($color: #FFFFFF, $alpha: .91) !important;
}
.sp-font{
    font-family: Aeroxys, sans-serif;
}

// HOVER STATES

button:hover{
    transform: scale(1.1);
}