<!-- <div>This is a Footer</div> -->

<div class="absolute left-0 w-full paolo-blue-bg text-white px-7 py-8">
    <h1 class="text-white text-8xl md:text-[180px] sp-font my-0">thanks for coming by</h1>

    <div class="flex flex-row justify-left">    
        <div class="text-3xl pr-8">
            <a href="https://www.instagram.com/paoloshmaolo" target="_blank" rel="noopener noreferrer"> 
                Email Me</a>  ↗
        </div>
        <div class="text-3xl">
            <a href="https://www.instagram.com/paoloshmaolo" target="_blank" rel="noopener noreferrer"> 
                Insta Me</a>  ↗
        </div>
    </div>

    <div class="pt-8 flex flex-row justify-between items-center">
        <div class="flex flex-row pt-2">
            <a href="https://www.instagram.com/paoloshmaolo" target="_blank" rel="noopener noreferrer">
                <img src="img/insta.svg" class="pr-4 w-12 object-cover" alt="" srcset="">
            </a>
            <a href="https://www.instagram.com/paoloshmaolo" target="_blank" rel="noopener noreferrer">
                <img src="img/tiktok.svg" class="pr-4 w-12 object-cover" alt="" srcset="">
            </a>
            <a href="https://www.instagram.com/paoloshmaolo" target="_blank" rel="noopener noreferrer">
                <img src="img/linkedin.svg" class="pr-4 w-12 object-cover" alt="" srcset="">
            </a>
        </div>

        <div class="hidden md:inline text-md">Copywrite 2023 Paolo Bicchieri</div>
        <div class="hidden md:inline text-md">Built by <a href="https://tycadesign.com/" target="_blank" rel="noopener noreferrer">Thank You Come Again</a></div>

        <div class="md:hidden">
            <div class="text-md">Copywrite 2023 Paolo Bicchieri</div>
            <div class="text-md">Built by <a href="https://tycadesign.com/" target="_blank" rel="noopener noreferrer">Thank You Come Again</a></div>
        </div>
    </div>



</div>
