<!-- <div>This is a Footer</div> -->

<div class="absolute left-0 w-screen paolo-blue-bg text-white p-12">
    <h1 class="text-white text-[180px] sp-font my-0">thanks for coming by</h1>

    <div class="flex flex-row justify-left">
        <div class="text-3xl pr-8">Email Me ↗</div>
        <div class="text-3xl">Instagram Me ↗</div>
    </div>

    <div class="pt-8 flex flex-row justify-between items-center">
        <div class="flex flex-row pt-2">
            <img src="img/insta.svg" class="pr-4 w-12 object-cover" alt="" srcset="">
            <img src="img/tiktok.svg" class="pr-4 w-12 object-cover" alt="" srcset="">
            <img src="img/linkedin.svg" class="pr-4 w-12 object-cover" alt="" srcset="">
        </div>

        <div class="text-sm">Copywrite 2023 Paolo Bicchieri</div>
        <div class="text-sm">Built by Thank You Come Again</div>
    </div>



</div>
